.button__close {
    position: absolute;
    right: -40px;
    top: -40px;
    fill: none;

    background-color: unset;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    background-image: url("../../../images/button/__close/close-icon.svg");
    background-size: cover;
}

@media screen and (min-width: 400px) {
    .button__close:hover {
        opacity: 0.6;
        transition: opacity 0.2s linear;
    }
}

@media screen and (max-width: 550px) {
    .button__close {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}