.button__remove {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 18px;
    height: 19px;
    background: transparent url("../../../images/button/__remove/remove-button.svg");
}
.button__remove:hover {
    opacity: 0.6;
}