.popup__input {
    padding: 0 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    max-width: 358px;
    width: 100%;
    min-height: 27px;
    margin: 0 0 30px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popup__input:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 550px){
    .popup__input {
        max-width: 238px;
    }
}