.popup__container {
    position: relative;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        padding: 25px 22px 25px 22px;
        width: 282px;
        height: 322px;
    }
}