.profile__title {
    min-width: 293px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
}
@media screen and (max-width: 500px) {
    .profile__title {
        padding-left: 28px;
        min-width: 188px;
        font-size: 27px;
        line-height: 33px;
    }
}