.logo {
    margin: 0;
    background-image: url("../../images/logo/logo.svg");
    width: 142px;
    height: 33px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
    .logo {
        width: 104px;
        height: 24px;
    }
}