.button__save {
    width: 358px;
    min-height: 50px;
    background: #000000;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 551px) {
    .button__save:hover {
        opacity: 80%;
        transition: opacity 0.2s linear;
    }
}

@media screen and (max-width: 550px) {
    .button__save {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
    }
}