.popup__close-button {
    position: absolute;
    right: -40px;
    top: -40px;
    fill: none;
}

@media screen and (max-width: 550px) {
    .popup__close-button {
        right: 0;
        top: -36px;
    }
}