.profile__info {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: 1fr;
    column-gap: 18px;
    row-gap: 16px;
}
@media screen and (max-width: 700px) {
    .profile__info {
        row-gap: 8px;
        column-gap: 10px;
        justify-items: center;
    }
}