.close-button {
    background-color: unset;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    background-image: url("../../images/close-icon/close-icon.svg");
    background-size: cover;
}

@media screen and (min-width: 400px) {
    .close-button:hover {
        background-image: url("../../images/close-icon/close-icon(hover).svg");
        transition: background-image 0.2s linear;
    }
}

@media screen and (max-width: 550px) {
    .close-button {
        width: 20px;
        height: 20px;
    }
}